<ion-tabs class="tabs-icon-top tabs-stable tabs-color-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="首页" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="商家" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/shop">
        <ion-nav-view name="tab-shop"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="商品" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/product">
        <ion-nav-view name="tab-product"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
